a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
 
a {

  margin: 10px;
  padding: 10px;
  display: block;
  justify-content: space-between;
  font-size: 45px;
  font-family: fantasy;
  color: cyan;
  

}

body {
  margin: 0 auto;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b7f09246-ac57-40d3-97ac-4ed7562a8152/df3i4lx-0132abba-7479-4bd3-939c-9fca9c792cbc.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I3ZjA5MjQ2LWFjNTctNDBkMy05N2FjLTRlZDc1NjJhODE1MlwvZGYzaTRseC0wMTMyYWJiYS03NDc5LTRiZDMtOTM5Yy05ZmNhOWM3OTJjYmMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.J8DhZACK1XXgqaCSc4UvdjtXkq4RFL0PsfOQwsjp7bM);
  background-position: center;
  background-repeat: no-repeat;

}
 
.logo {

  margin: 0 auto;
  display: block;

}

h1{
  margin: 10px;
  padding: 10px;
  font-family: fantasy;
  font-size: 300%;
  color: greenyellow;
}

nav{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60%;
  color: black;
  
}

p {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 200%;
  font-family: fantasy;
  color: greenyellow;
}

button{
  display: block;
  padding: 0.5em 1.5em;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: aqua;
  border: none;
  border-radius: 0;
  margin: auto;
  
}

input{
  display: block;
  cursor: pointer;
  margin: auto;
}

.contenedor{
  display: block;
  border-radius: 0 auto;

}

h2{
  margin: 10px;
  padding: 10px;
  font-family: fantasy;
  font-size: 200%;
  color: greenyellow;
}

h3{
  margin: 10px;
  padding: 10px;
  font-family: fantasy;
  font-size: 200%;
  color: greenyellow;
}

h4{
  margin: 10px;
  padding: 10px;
  font-family: fantasy;
  font-size: 200%;
  color: greenyellow;

}

.card{
  margin: 17px;
  padding: 40px;
  font-size: 0;
  text-align: center;
  display: inline-block;
  font-size: inherit;
}





