body{
    height: 10%;
    width: 100px;
    background-image: url(https://cdn.dribbble.com/users/375862/screenshots/2854477/rickandmorty.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    text-align: top=0 left;
    font-family: Cambria;
    line-height: 3cm;
    color: whitesmoke;
    font-size: 25px;
}